code[class*="language-"],
pre[class*="language-"] {
  color: #e4f0fb;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #636f88;
}

.token.number {
  color: #b48ead;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted,
.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #5de4c7;
}

.token.boolean,
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable,
.token.keyword {
  color: #add7ff;
}

.token.regex,
.token.important {
  color: #ebcb8b;
}
